
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}.l1{
    width:100px;
    height:50px;
}
nav{
     display:flex;
    align-items: center;
    justify-content: space-evenly;
}
ul a{
    color: cadetblue;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
}
ul a:hover{
    color: rgb(5, 104, 108);
    text-shadow: 2px 2px whitesmoke;
}
 
header{
    margin:13px;
    max-width:100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
      position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  margin: 0;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

}
main{
    max-width:auto;
    min-height:60vh;
}
.m1{
    width:100%;
    height:auto;
    object-fit: cover;
}
.absol{
    color:rgb(239, 239, 244);
    font-size: 26px;
    position:absolute;
    left:3%;
    top:10%;
    z-index:1 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin:20px auto;
}
.img2{
    width:600px;
    height:500px;
    margin-right: 20px; 
    border-radius: 12px;

}
.line-br{
    font-size:20px;
    display: block;
}
label{
    font-size: 20px;
}
p{
    font-size: 20px;
}
  
 .c1{
    color:rgb(22, 23, 23);
 }
 .bf{
    background-color: cadetblue;
 }
  
.bmicontainr
{
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px auto;
    height: 120vh;
 }
#bmibox
{
    background: white;
    padding:20px;
    width:800px;
    border-radius: 8px;
    height: 750px;
    margin:10px auto;   
}
 
 
#result{
    margin-top:10px;
    font-weight:bold;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: cadetblue;
     font-size: 18px;
}
ul {
        list-style: none;
      }
      /* Each row */
      li {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-bottom: 18px;
      }

      /* Labels */
      label {
        width: 210px;
        font-size: 19px;
        font-weight: 600;
        text-transform: capitalize;
      }

      i {
        margin-right: 6px;
        color: brown;
      }
      textarea {
        resize: vertical;
        min-height: 80px;
      }
      /* Inputs & selects */
      input 
      {
        width: 100%;
        font-size: 18px;
        max-width: 350px;
        padding: 8px 10px;
        border: 1px solid #aaa;
        border-radius: 5px;
        transition: all 0.4s ease;
      }
       
      /* Focus animation */
      input:focus 
       {
        outline: none;
        border-color: #02646b;
        box-shadow: 0 0 6px rgba(104, 232, 241, 0.5);
        transform: scale(1.15);
      }

      form {
        border: 8px solid rgb(116, 125, 133);
        width: 100%;
        margin: auto;
        padding: 13px;
        animation: fadeIn 0.8s ease-in-out;
      }
      button  {
        width: 180px;
        padding: 10px;
        font-size: large;
        background: #02646b;
        color: white;
        margin-top: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.1s ease;
      }

      /* Button hover */
     button :hover {
        background: #014e53;
        /* it moves in y direction */
        transform: translateY(-5px);
      }
 .flex{
    display: flex;
     gap:12px;
 }
 #result{
    border:2px solid cadetblue;
    width:85%
 }
 .foot-ln {

    background-color: #02646b;
    color: #e7f2f3;
    padding: 20px;
    font-size: 20px;
    text-align:center;
}